<div class="animated fadeIn">
  <p-panel #pnl [style]="{'margin-bottom':'10px'}">
    <p-header>
      Quản lý lớp học
    </p-header>
    <div class="row">
      <div class="col">
        <button appPermission appPolicy="Permissons.Classes.Create" pButton type="button" label="Thêm" icon="fa fa-plus"
          (click)="showAddModal()" class="p-button-sm p-button-info ms-1"></button>
        <button appPermission appPolicy="Permissons.Classes.Delete" pButton type="button" label="Xóa" icon="fa fa-trash"
          class="p-button-sm p-button-danger ms-1" *ngIf="selectedItems.length > 0" (click)="deleteItems()"></button>
        <button appPermission appPolicy="Permissons.Classes.Edit" pButton type="button" label="Sửa" icon="fa fa-edit"
          class="p-button-sm p-button-warning ms-1" *ngIf="selectedItems.length== 1" (click)="showEditModal()"></button>
        <button appPermission appPolicy="Permissons.Enrollments.Edit" pButton type="button" label="Đăng kí lớp" icon="fa fa-plus"
          class="p-button-sm p-button-info ms-1" *ngIf="selectedItems.length== 1" (click)="showEnrollModal()"></button>
        <button appPermission appPolicy="Permissons.ClassSchedules.Edit" pButton type="button" label="Lịch học" icon="fa fa-plus"
          class="p-button-sm p-button-info ms-1" *ngIf="selectedItems.length== 1" (click)="showClassScheduleModal()"></button>
      </div>
      <div class="col">
        <div class="row">
          <div class="col">
            <input id="txtKeyword" pInputText (keyup.enter)="loadData()" pInputText [(ngModel)]="keyword"
              placeholder="Nhập mã lớp..." type="text">
          </div>
          <div class="col">
            <button type="button" pButton (click)="loadData()">Tìm</button>
          </div>
        </div>

      </div>
    </div>

    <div class="row mt-3">
      <p-table #dt [value]="items" selectionMode="multiple" dataKey="id" [(selection)]="selectedItems"
        [metaKeySelection]="true">
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 10px">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th>Mã lớp học</th>
            <th>Tên lớp học</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
          <tr [pSelectableRow]="row">
            <td style="width: 10px">
              <span class="ui-column-title"></span>
              <p-tableCheckbox [value]="row"></p-tableCheckbox>
            </td>
            <td>{{ row.courseCode }}</td>
            <td>{{ row.courseName }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div style="text-align: left">Tổng số: {{ totalCount | number }}</div>
        </ng-template>
      </p-table>
      </div>
    <p-paginator [rows]="pageSize" [totalRecords]="totalCount" (onPageChange)="pageChanged($event)"
      [rowsPerPageOptions]="[10, 20, 50, 100]"></p-paginator>


    <p-blockUI [target]="pnl" [blocked]="blockedPanel">
      <p-progressSpinner [style]="{width: '100px', height: '100px', position:'absolute',top:'25%',left:'50%'}"
        strokeWidth="2" animationDuration=".5s"></p-progressSpinner>
    </p-blockUI>
  </p-panel>
</div>